@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}
.button-capitalize {
  text-transform: capitalize !important;
  font-size: 18px !important;
  letter-spacing: 0.2px !important;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.6s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.6s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
